<aside class="bg-dark text-light">
    <div class="p-3">
        <h5 class="mb-4">Sidebar</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/balance">
                    <i class="bi bi-wallet2"></i> Balance y transacciones
                </a>
            </li>
        </ul>
    </div>
</aside>
